<mat-card class="tile" [ngClass]="getTileCssClasses()" (click)="leftClickTile()" (contextmenu)="rightClickTile()">
    <div class="tile-content" *ngIf="getTileContent() === 'bomb'">
        <fa-icon [icon]="faBomb"></fa-icon>
    </div>

    <div class="tile-content" *ngIf="getTileContent() === 'number'">
        {{ tile.adjacentBombs | tileNumberDisplay }}
    </div>

    <div class="tile-content" *ngIf="getTileContent() === 'flag'">
        <fa-icon [icon]="faFlag"></fa-icon>
    </div>
</mat-card>