.game-container {
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 75vh;
}

.matrix-wrapper {
    z-index: 1;
}

.bomb-counter-wrapper {
    position: absolute;
    right: 10%;
    top: 50%;
    transform: translateY(-50%);
}