.game-container {
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 75vh;
}

.matrix-wrapper {
    z-index: 1;
}

.right-side-wrapper {
    height: 50%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    position: absolute;
    right: 10%;
    top: 50%;
    transform: translateY(-50%);
}

@media (max-width: 1370px) {
    .right-side-wrapper {
        position: static;
        transform: none;
        margin-top: 1rem;
        flex-direction: row;
    }

    .game-container {
        flex-direction: column;
    }
}